<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet "href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <img src="pics/Anime-Guitar-Girl-PNG-Image.png" alt="Story Logo">
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
            </ul>
        </nav>
    </header>
{% block body %}{% endblock %}
    <footer>
        <p>asanali.rymgali@gmail.com</p>
        <a href="" target="_blank"><img src="youtube-icon.png" alt="YouTube"></a>
        <p>&copy; 2023 Story</p>
    </footer>
</body>
</html>
